* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.content {
	width: 80%;
	height: 195vh;

	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	margin-inline: auto;
}


ul{
	display: grid;
	list-style: none;
	height: 100vh;
	width: 80vw;
	grid-auto-flow: column;
	place-items: center;
	margin-inline: auto;
}

._ul {
	list-style: none;
	width: 80vw;
	/*display: grid;
	margin-inline: auto;
	grid-auto-flow: column;
	grid-auto-columns: 30px;
	gap: 20px;*/
}

li {

}

.item {

	--item-width: 30px;
	--tooltip-angle: 10px;
	--tooltip-color: #d780d7;
	--tooltip-width: 300px;
	--dynamic-position: 0px;

	width: var(--item-width);
	aspect-ratio: 1;
	position: relative;

	text-align: center;
	margin-inline: 10px;
	border-radius: 50%;
}


.item::after,
.item::before {
	position: absolute;
	display: none;
}

.item::after {
	border: var(--tooltip-angle) solid transparent;
	content: "";
}

.item::before {
	content: attr(data-label);
	width: var(--tooltip-width);
	aspect-ratio: 2 / 1;
	background-color: var(--tooltip-color);
	color: #fff;
	border-radius: 5px;
	align-content: center;
}


.item:hover:after,
.item:hover:before {
	display: grid;
}


.tooltip-move-to-top::before {
	transform: translate(calc(-50% + var(--dynamic-position)), calc(-100% - var(--tooltip-angle)));
	left: 50%;
	top: 0;
}

.tooltip-move-to-top::after {
	border-top-color: var(--tooltip-color);
	transform: translate(-50%, calc(var(--tooltip-angle) * -1));
	left: 50%;
	top: 0;
}


.tooltip-move-to-bottom::before {
	transform: translate(calc(-50% + var(--dynamic-position)), calc(100% + var(--tooltip-angle)));
	left: 50%;
	bottom: 0;
}

.tooltip-move-to-bottom::after {
	border-bottom-color: var(--tooltip-color);
	transform: translate(-50%, calc(var(--tooltip-angle) * 1));
	left: 50%;
	bottom: 0;
}